body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.card {
    width: 400px;
    padding: 30px;
    background-color: cornsilk;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(244, 246, 248, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.confetti {
    width: 60px;
    height: 70px;
    border-radius: 50%;
    background-color: lightblue;
    position: absolute;
    animation: float 5s ease-in-out infinite;
}

.confetti.pink {
    background-color: pink;
    left: 0;
    animation-delay: 5s;
}

.confetti.blue {
    background-color: Blue;
    left: 60px;
    animation-delay: 4s;
}

.confetti.yellow {
    background-color: YELLOW;
    left: 120px;
    animation-delay: 5s;
}

@keyframes float {
    0% {
        transform: translateY(100px) rotate(0deg);
        opacity: 4;
    }
    50% {
        opacity: 3;
    }
    100% {
        transform: translateY(-300px) rotate(360deg);
        opacity: 4;
    }
}

.message {
    position: relative;
    z-index: 10;
    padding: 30px;
}

.message h1 {
    font-size: 20px;
    color: darkorchid;
    margin-bottom: 10px;
}

.message p {
    font-size: 16px;
    color: brown;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
    color: lightcoral;
}

.footer {
    font-size: 14px;
    color: darkblue;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}